.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85vw;
    justify-content: center;
    gap: 50px;
}

.cardContainer {
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
}