
.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    border-right: 1px solid white;
    width: 8%;
    height: 98vh;
    font-size: 30px;
}