.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid rgb(62, 62, 62);
  width: 2vw;
  min-height: 100%;
  position: fixed;
  font-size: 30px;
  padding: 30px;
  margin: 0;
  list-style: none;
  background-color: black;
  color: aliceblue;
}

.container a {
  color: aliceblue;
  transition: all 0.5s;
}

.container a:hover {
  color: #2196f3;
  transition: all 0.5s;
}

.container a:focus {
  color: rgb(0, 86, 246);
  transition: all 0.5s;
}
