.likeButton {
  margin: 0;
  position: absolute;
  z-index: 2;
  transform: translate(210px, 20px);
  background-color: transparent;
  border: none;
  transition: all 0.2s;
}

.likeButton:hover {
  cursor: pointer;
  transform: translate(210px, 20px) scale(1.2);
  transition: all 0.5s;
}

@media (max-width: 640px) {
  .likeButton {
    margin: 0;
    position: absolute;
    transform: translate(75px, 10px);
    z-index: 2;
    background-color: transparent;
    border: none;
    transition: all 0.2s;
  }

  .likeButton:hover {
    cursor: pointer;
    transform: translate(75px, 10px) scale(1.1);
    transition: all 0.5s;
  }
}
