
.movieContainer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imageContainer {
    position: relative;
    width: 70vw;
    height: 70vh;
}

.imageContainer::before {
    z-index: 1;
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: black;
    background: linear-gradient(to right, black, transparent);
  }

.imageMovie {
    object-fit: cover;
}

.movieDetails {
    margin-left:50px;
    width: 30%;
    z-index: 1;
}