.mainContainer {
  display: flex;
  flex-direction: row;
  margin-left: 8.7vw;
}

@media (min-width: 800px) {
  .mainContainer {
    margin-left: 5.5vw;
  }
}

@media (min-width: 1200px) {
  .mainContainer {
    margin-left: 4vw;
  }
}



