.wrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 99%;
  justify-content: center;
  gap: 10vh 5vw;
  margin: 20px;
}

.container a,
.homeContainer a {
  text-decoration: none;
  font-size: 1.1rem;
  color: aliceblue;
}

.homeContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 2vh 2vw;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1vh 1vw;
}

.linkImage {
  width: 270px;
  height: 400px;
  position: relative;
  transition: transform 0.2s;
  overflow: hidden;
}

.cardImage {
  position: relative;
  height: 100%;
  transition: transform 0.3s;
}

.cardImage:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titleContainer p {
  color: grey;
}

.linkTitle {
  border: 2px solid transparent;
  text-decoration: none;
  color: #2196f3;
  transition: text-decoration 1s;
  font-size: 1.1rem;
  transition: all 0.5s;
}

.linkTitle:hover {
  border-bottom: 2px solid #2196f3;
  transition: all 0.5s;
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.mainTitle a {
  font-size: 1.2rem;
  margin-top: 5px;
}

@media (max-width: 640px) {
  .container {
    margin: 0;
  }

  .linkImage {
    width: 120px;
    height: 150px;
    position: relative;
    transition: transform 0.2s;
  }
  .cardContainer,
  .cardContainer a {
    width: 120px;
    font-size: 0.9rem;
    margin: 0 auto;
  }
}
