.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85vw;
    justify-content: center;
    gap: 50px;
}

.cardContainer {
    width: 250px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container a {
    text-decoration: none;
    font-size: 1.1rem;
}


.container .linkImage:hover {
    transition: all 0.5s ease-in;
    background-size: center;
    transform: scale(1.1);
}

.cardImage {
    text-decoration: none;
    margin: 0 auto;
}