.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 2vw 2vh;
}

.container a, .homeContainer a {
    text-decoration: none;
    font-size: 1.1rem;
    color: aliceblue;
}

.homeContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 2vw 2vh;
    margin-left: 40px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 2vw 2vh;
}

.linkImage {
    width: 270px;
    height: 400px;
    position: relative;
    max-width: 100%;
    transition: transform 0.2s;

}

.cardImage {
    position: relative;
    height: 100%;
    transition: transform 0.3s;
}

.cardImage:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
}
