@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
  color: white;
  color-scheme: dark;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  color-scheme: dark;
}

main {
  margin-left: 10vw;
}

