.imageContainer {
  position: relative;
  width: 400px;
  height: 550px;
  margin: 2vh 4vw;
}

.container {
  display: flex;
  margin: 40px 0;
  align-items: center;
}

.container p {
  font-size: 1.1rem;
}

.detailsCointainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.detailsCointainer table {
  font-size: 1.3rem;
}

.detailsCointainer table tbody {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.detailsCointainer tr {
  display: flex;
  gap: 4vw;
  align-items: flex-start;
  justify-content: flex-start;
}

.detailsCointainer td {
  display: flex;
  align-items: flex-start;
  justify-content: end;
}

.imageCard{
  width: 40vw;
  height: 50vw;
}

@media (max-width: 800px) {
  .container {
    font-size: 1.3rem;
  }

  .container p {
    font-size: 1.3rem;
  }

  .imageContainer {
    width: 38vw;
    height: auto;
  }

  .detailsCointainer {
    margin-right: 20px;
  }
}
